* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    border: 1px solid black;
    width: 500px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}

.painel {
    border: 1px solid black;
    background-color: mediumpurple;
    height: 100px;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 30px;
}
.botoes button {
    font-size: 3rem;
    width: 100px;
    height: 100px;
}